modules = ["nodejs-20"]
run = "cd felicity && npm run dev"

[agent]
expertMode = true

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5050
externalPort = 3000

[[workflows.workflow]]
name = "Dev Server"
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd felicity && npm run dev"
waitForPort = 5000

[deployment]
deploymentTarget = "cloudrun"
build = ["sh", "-c", "cd felicity && npm run build"]
run = ["sh", "-c", "cd felicity && npm run start"]
